<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guli.teacher.mapper.EduChapterMapper">
    <select id="getChapter" parameterType="java.lang.String" resultType="com.guli.teacher.entity.EduChapter">
        select id,course_id,title,sort,gmt_create,gmt_modified from edu_chapter where course_id = #{id};
    </select>
</mapper>